<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie-edge' />
    <title>Verification</title>
  </head>
  <style>
    .heading { text-align: center; margin-top: 5%; font-family: "Franklin Gothic
    Medium", "Arial Narrow", Arial, sans-serif; color: green; } .image {
    display: flex; justify-content: center; } .image { display: flex;
    justify-content: center; }
  </style>
  <body style='background-color:whitesmoke'>
    <h1 class='heading'>Page Not Found</h1>
    <div class='image'>
      <img src='/errori.png' alt='img' height='400px' width='400px' />
    </div>
  </body>
</html>